/*
colors:
green - var(--default-light-color)
darkGreen - #339900 || #43f046 008000
darkGray - #272727
*/

:root {
    --default-background: rgba(0, 0, 0);
    --border-dark-color: rgb(0,69,0);
    --border-light-color: rgb(0,110,0);
    --default-dark-color: rgb(0,128,0);
    --default-light-color: rgb(0,255,0);

    --default-transition: 0.75s;
    --long-transition: 1s;
    --fast-transition: 0.25s;
    
    --border-width: 10px;
    --border-angele-resize: 30px;
    --border-diagonal: 14px;
    --top-right-corner-top: -7px;
    --corners-margin: 2.5px;
    --cursor-horizontal-resize: n-resize;
    --cursor-vertical-resize: e-resize;
    --cursor-xy-resize: nwse-resize;
    
    --ghost-window-margin: 5px;
    --ghost-window-border-width: 2px;
    
    --inner-padding: 18px;
}

.window-borders .outside {cursor: default;}

* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.3em;
    letter-spacing: 0.02em;
}

.trans-none {
    transition: all 0s !important;
}

.transition {
    transition: 0.35s;
    overflow: hidden;
}

.hide-width {
    width: 0 !important;
}

.hide-height {
    height: 0 !important;
}


.hide-padding {
    padding: 0 !important;
}

.hide-margin {
    margin: 0 !important;
}
.hide-background {
    background: var(--default-light-color) !important;
}



html {
    background: black;
    color: var(--default-light-color);
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(0,59,0);
    margin: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--default-light-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--default-dark-color);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    color: var(--default-light-color);
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin: auto;
}
td {
    padding: 5px;
    /* border: 1px solid black; */
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--default-background);
    width: 4em;
    height: 4em;
}

tr:nth-child(2n+1)  td:nth-child(2n+1), tr:nth-child(2n)  td:nth-child(2n) {
    background-color: var(--default-dark-color);
    color: var(--default-light-color);
}

.base {
    background: rgb(0,59,0) !important;
    color: var(--default-light-color) !important;
}

.clicked {
    z-index: 2;
    outline: 3px solid red;
    background-color: cornflowerblue !important;
}

.window-main {
    position: relative;
    background: black;
    margin: var(--border-width);
    z-index: 1;
    transition: var(--fast-transition);
}

.window-borders {
    position: absolute;
    top: 0;
    transition: var(--fast-transition);
}

.window-border-top, .window-border-bottom, .window-border-left, .window-border-right, .window-border-bottom-left {
    position: absolute;
    transition: var(--fast-transition);
}

.window-border-top {
    background: var(--border-dark-color);
    top: 0;
    width: 100%;
    height: var(--border-width);
    overflow: hidden;
    cursor: var(--cursor-horizontal-resize);
}

.window-border-bottom {
    background: var(--border-light-color);
    bottom: 0;
    width: 100%;
    height: var(--border-width);
    overflow: hidden;
    cursor: var(--cursor-horizontal-resize);
}

.window-border-right {
    background: var(--border-light-color);
    right: 0;
    width: var(--border-width);
    height: 100%;
    cursor: var(--cursor-vertical-resize);
}

.window-border-left {
    background: var(--border-dark-color);
    left: 0;
    width: var(--border-width);
    height: 100%;
    cursor: var(--cursor-vertical-resize);
}


.window-border-top-right {
    width: var(--border-diagonal);
    height: var(--border-diagonal);
    margin-left: auto;
    z-index: 1;
    background: var(--border-dark-color);
    position: relative;
    transform: rotate(45deg);
    top: var(--top-right-corner-top);
    margin-right: var(--corners-margin);
    cursor: var(--cursor-horizontal-resize);
    transition: var(--fast-transition);
}


.window-border-bottom-left {
    width: var(--border-diagonal);
    height: var(--border-diagonal);
    z-index: 1;
    background: var(--border-light-color);
    position: relative;
    transform: rotate(45deg);
    margin: var(--corners-margin);
    cursor: var(--cursor-horizontal-resize);
    transition: var(--fast-transition);
}

.window-green.active .window-border-top, .window-green.active .window-border-left, .window-green.active .window-border-top-right {
    background: var(--default-dark-color);
}

.window-green.active .window-border-right, .window-green.active .window-border-bottom, .window-green.active .window-border-bottom-left {
    background: var(--default-light-color);
}

.window-border-top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--border-angele-resize);
    height: var(--border-angele-resize);
    cursor: var(--cursor-xy-resize);
}

.window-border-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--border-angele-resize);
    height: var(--border-angele-resize);
    cursor: var(--cursor-xy-resize);
}

.window-green {
    /* border: 1px solid var(--default-light-color); */
    position: absolute;
    background: black;
    /* max-width: 500px; */
    z-index: 1;
    top: 5px;
    left: 5px;
}

.window-green.active {
    z-index: 5;
    /* border: 10px inset var(--default-light-color); */
}

.window-radar {
    max-width: 100%;
    display: inline-table;
}

.window-top {
    display: flex;
    background: var(--default-light-color);
    color: black;
    padding: 5px;
}

.window-hide {
    display: flex;
    align-items: center;
    margin-left: 7px;
    z-index: 2;
    cursor: pointer;
}

.hide-line {
    width: 13px;
    height: 2px;
    background: black;
}

.window-maximize {
    position: relative;
    margin-left: 0.2em;
    cursor: pointer;
    z-index: 2;
    margin-left: 12px;
}

.maximize-1, .maximize-2 {
    width: 0.7em;
    height: 0.7em;
    border: 1px solid black;
    background: var(--default-light-color);
    cursor: pointer;
}

.maximize-2 {
    position: absolute;
    top: 0.2em;
    left: -0.2em;
}

.window-close {
    cursor: pointer;
    margin: 0 8px 0 12px;
    z-index: 2;
    position: relative;
    width: 13px;
    flex-shrink: 0;
}

.close-line1, .close-line2 {
    height: 1em;
    position: absolute;
    width: 1px;
    background: black;
    margin-left: 5px;
}

.close-line1 {
    transform: rotate(45deg);
}

.close-line2 {
    transform: rotate(-45deg);
}

.window-line {
    width: 100%;
    height: 1em;
    /* border: 1px solid var(--default-dark-color); */
    background: var(--default-dark-color);
}

.window-head {
    position: absolute;
    width: 100%;
    /* margin-left: -5px; */
    display: flex;
    top: 2px;
    cursor: pointer;
}

.wh-header {
    margin: 0 auto;
    background: var(--default-light-color);
    padding: 0 5px;
    font-weight: 700;
    color: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;    
}

.window-body {
    margin: 8px;
    padding: var(--inner-padding);
    overflow: overlay;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
}

.window-content {
    margin: auto;
}

.body-small {
    width: 250px;
    height: 250px;
}

.body-medium {
    width: 500px;
    height: 500px;
}

.body-large {
    width: 1000px;
    height: 750px;
}

#taskbar-wrap {
    /* position: absolute; */
    /* height: 3em; */
    /* width: 100%; */
    /* bottom: 0px; */
    /* z-index: 9999999999999; */
    /* padding: 5px; */
    /* display: flex; */
    /* align-items: flex-end; */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;    
}


.task-data {
    display: none;
}

#menu-wrap {
    border: 0px solid;
    margin-bottom: -4px;
    margin-left: auto;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    left: 30px;
    /* bottom: -323px; */
    transition: var(--default-transition);
    width: 15%;
    z-index: 999;
}

#task-list {
    /* border: 2px solid; */
    background: black;
    padding: 5px;
    /* margin-bottom: -5px; */
    margin-left: auto;
    border-radius: 10px 10px 0 0;
}

.task-list-item {
    list-style: none;
    border: 1px solid;
    margin: 5px;
    text-align: center;
}

.task-list-link {
    cursor: pointer;
    font-size: 2em;
    padding: 5px;
    display: block;
    line-height: 1.5em;
}

#open-tasks {
    border: 2px solid;
    padding: 9px;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 12px;
    background: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#menu-wrap.active {
    border: 1px solid;
    padding: 8px 8px 0 8px;
    bottom: 3px !important;
    background: black;
    -webkit-box-shadow: 5px -4px 26px 6px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 5px -4px 26px 6px rgba(0, 0, 0, 0.69);
    box-shadow: 5px -4px 26px 6px rgba(0, 0, 0, 0.69);
}

#open-tasks > div {
    height: 1em;
    padding-bottom: 8px;
}

#button-toggle > div {
    height: 1.2em;
    /* transition: 1s; */
    /* overflow: hidden; */
    margin-bottom: 0.5em;
}

#button-toggle {
    margin-left: auto;
    margin-right: 0.5em;
    transition: var(--long-transition);
    top: -1.7em;
    top: 0;
    position: relative;
}


.menu-text {
    margin-right: auto;
}

.taskbar-item-empty {
    width: 60%;
    height: 60%;
    min-width: 400px;
    max-width: 600px;
    white-space: nowrap;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    transition: var(--long-transition);
    opacity: 1;
    /* opacity: 0; */
}


#taskbar {
    margin: auto;
    width: 80%;
    height: 58px;
    background: var(--default-background);
    border: 2px solid;
    border-radius: 10px;
    /* margin-top: -3px; */
    position: absolute;
    right: 30px;
    /* display: flex; */
    overflow-y: hidden;
    align-items: center;
    bottom: 5px;
    z-index: 999;
}

#taskbar-inner {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    width: auto;
    left: 0;
}

#taskbar-overlay {
    position: absolute;
    bottom: -2px;
    height: 70px;
    background: transparent;
    width: 100%;
}

.ghost-window {
    position: absolute;
    border: var(--ghost-window-border-width) solid rgb(0,255,0);
    border-radius: 10px;
    box-shadow: 0px 0px 46px 28px var(--border-dark-color);
    background: green;
    opacity: 0.35;
    /* transition: top, bottom var(--default-transition); */
    /* transition: var(--default-transition); */
    /* margin: var(--ghost-window-margin); */
    /* width: 0;
    height: 0; */
    /* transform: scale(0); */
    z-index: 99999999999 !important;
}

.default-cursor {
    cursor: default !important;
}


.trans-none {
    transition: all 0s;
}




















.taskbar-item {
    position: absolute;
    left: 0;
    border-radius: 10px;
    margin: 0;
    transition: var(--default-transition);
    /* margin: 0 15px; */
    z-index: 1;
}

.tpi-title {
    font-size: 1.3em;
    padding: 0px 6px 0px 6px;
    border: 2px solid;
    border-radius: 5px;
    white-space: nowrap;
    background: black;
    cursor: pointer;
    font-weight: 500;
    transition: var(--fast-transition);
}

.taskbar-item.active .tpi-title {
    background: green;
}

.tpi-title:hover {
    background: seagreen;
}

.mg0imp {
    margin: 0 !important;
}






@font-face {
    font-family: IBM Plex Sans;
    src: url(fonts/IBMPlexSans-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(fonts/IBMPlexSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(fonts/IBMPlexSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(fonts/IBMPlexSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(fonts/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(fonts/IBMPlexSans-Bold.ttf);
    font-weight: 700;
}
